* {
    margin: 0;
    padding: 0;
}

.kitchenIMG {

    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-top: 7px;

    
}

.lay_out {
    width: 393px;
    height: 852px;
    margin: auto;

}

.Rectangle_gray_p1 {
    display: flex;
    width: 393px;
    height: 66px;
    background-color: rgba(0, 59, 84, 0.1);
    align-items: center;
    justify-content: space-between;
}

.Bell {
    margin-left: 9px;
    width: 35px;
    height: 35px;
    background-image: url('../my_Images/bell.png')

}

.Steven_square_p1 {
    display: flex;
    height: 66px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;

}

.Hader_text_p1{
    font-size: 13px;
    margin-right: 5px;


}

.Steven_pic_p1 {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-image: url('../my_Images/steven_pic.png');
    border-radius: 30px;

}

.Main {
    display: flex;
    width: 393px;
    height: 692px;
    flex-wrap: wrap;
    align-content: flex-start;

}
.Main_upper_text {
    margin-top: 26px;
    width: 325px;
    height: 29px;
    font-size: 100%;
}
.ingredients_box {
    display: flex;
    width: 393px;
    height: 177px;

}
.ingredients {

    margin-left: 46px;
}
.ingredients_box_form {
    
    margin-left: 46px;
}
.MainDisplayedIngredents {
    margin-left: 20px;
    list-style-type: none;
    background-image: url('../my_Images/ingredients.png'); /* Replace 'path-to-your-icon.png' with the actual path to your icon image */
    background-repeat: no-repeat;
    background-size: 20px 20px; /* Adjust the size of your icon */
    background-position: left center; /* Adjust the position of your icon */
    padding-left: 30px; /* Add some padding to separate the icon from the text */
    margin-bottom: 5px; /* Adjust the margin as needed to control the spacing between list items */

}
.ingredients_box_form div {
    display: flex;

}

.Meal_select {
    display: flex;
    width: 393px;
    height: 89px;
    padding-left: 13px;
}
.Meal_select p {
    font-size: 18px;
    margin-left: 17px;
    margin-top: 9px;

}
.buttons {

    position: absolute;
    margin-top: 50px;
}
.Skill_bar {
    padding-left: 35px;
    height: 96px;
    width: 393px;

}
.Skill_bar p {
    font-size: 18px;
    display: flex;
    margin-left: 13px;
    margin-top: 10px;


}

.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
  }
  
  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0072b2; /* Change this color as needed */
    top: -5px;
    transform: translateX(-50%);
}

.Any_special {
    display: flex;
    justify-content: center;
    height: 230px;
    width: 393px;
    flex-wrap: wrap;
    
}

.Any_special p {

    margin-top: 19px;
    margin-left: 22px;
    font-size: 15px;
    height: 30px;
}

.Any_special form {
    height: 30px;
    margin-top: 19px;
    margin-left: 15px;
    font-size: 15px;

}
.ToggleButtons2 {
    

}
.finalSubmit{

    height: 37px;
    width: 141px;
    background-color: #0072B2;
    margin-right: 14px;

}

.Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;  
    background-color: rgba(0, 59, 84, 0.1);
}


.icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ToggleInsideButton {

    display: flex;
    flex-wrap: wrap;

  }
.insideButtons {
    display: flex;
  }
